.TextForm {
  font-family: "Bold";
  color: black;
  font-size: 26px;
  padding-top: 49px;
  padding-bottom: 60px;
}
.TextForm span {
  color: #cf0303;
}
.Container {
  padding: 65px;
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 576px) {
  .Container {
    padding: 35px;
  }
}
